<h1>Bem vindo</h1>
 <!-- <p>você está logado como: <%= $user.email %> </p> -->
 <!-- <br> -->
 <!-- <p>você está logado como: <%= $user.name %> </p> -->
 <!-- <br> -->
 <!-- <p>você está logado como: <%= current_user %> </p> -->
 <!-- <br> -->
 <!-- <p>você está logado como: <%= session[:user_id] %> </p> -->

<!-- <p>Clique no link "files"  para acessar os arquivos</p> -->

<%#form_tag :action => 'navigation_params', :method => 'POST' do%>
  <%# hidden_field_tag(:parent_id, "/") %>
  <%# hidden_field_tag(:page, 1) %>
  <%# submit_tag "files" %>
<%# end %>
<%# $token %>
<%# $user.photo_url %>
<%# $structure %>
<%# $structure1 %>
<%# @current_person %> <br>
<%# @request %><br>
<%# $user %>
<%# navigation($root) %>
