<h1>Bem vindo</h1>
<p>você está logado como: <%= @email %> </p>

<p>Clique no link "files"  para acessar os arquivos</p>

<%=form_tag :action => 'navigation_params', :method => 'POST' do%>
  <%= hidden_field_tag(:parent_id, "/") %>
  <%= submit_tag "files" %>
<% end %>
