@import "material";


/* ==========================================================================
   Basics
   ========================================================================== */
body {
   line-height: 1;
   background: #fff;
   background: url("assets/images/bg.jpg");

   font-family: 'Roboto', sans-serif;
  }
* {
 	margin: 0;
 	padding: 0;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }


html,body {
	line-height: 1;
	background: #fff;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}



/* ==========================================================================
   Login
   ========================================================================== */

.box {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

	color: #fff;
	width: 40%;
	height: 50%;
	font-size: 16px;
	padding: 15px;
	text-align: center;

}
.box .box-link{
  margin-top: 30px;
}
		.box .box-link a:hover{
			color:#0D47A1;
		}
.img-responsive {
	width: 40%;
	height: auto;
}
.img-rodape{
  width: 70%;
  margin: 30px auto;
  height: auto;
	}
.mdl-textfield__input{
	border-bottom: 1px solid #fff;
}
.mdl-textfield__label{
	color: #fff;
}

/* ==========================================================================
   Página Principal
   ========================================================================== */


.mdl-menu__container.is-visible{

  z-index: 99;
}
#main-content{

  margin: 0;
  width: 100%;
}

.bottom-aligned-text {

  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.layout .demo-header .mdl-textfield {
  padding-top: 27px;
}
.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  margin: auto;
  height: 151px;
}
.avatar-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .demo-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
.layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}


.demo-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ==========================================================================
   Arquivos
   ========================================================================== */

   #arquivo{

  width: 100%;
}

  #arquivo table{

  width: 100%;
  border: none;

  }

  #arquivo table td{

    border: none;
    padding: 20px;
    color: #616161;
    font-weight: 700;
  }

  #arquivo table th{

    border-bottom: 1px solid #DDD;
    color: #9E9E9E;
    font-size: 1em;
  }


  #arquivo .mdl-cell{

    padding: 20px;
    position: relative;
    margin: 0;
  }

  #arquivo ul{
    position: absolute;
    bottom: 10px;
    right: 10px;
    list-style-type: none;
  }

  #arquivo ul li{

    display: inline;
    margin: 10px;
  }

   .folder-button, .folder-button:focus{

    border: none;
    background-color: transparent;
    display: inline-block;
    text-align: right;
    padding: 3px 6px;
    cursor: pointer;
    outline:0;
  }

.btn-pagination{

  min-width: 2em;
}