<!-- LOGIN PAGE(DEPRECATED SINCE THE FRONT-END IMPLEMENTATION) -->
<h1> Login</h1>

<%= form_tag :action => 'welcome' do%>
<%= email_field_tag 'my_email', class: "form-control"%>
<%= password_field_tag 'my_password'%>
<%= button_tag "Entrar", :type => "submit"%>
<% end %>
