<!doctype html>
<html>
<head>
  <%= stylesheet_link_tag "welcome" %>
</head>
<body>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="horizontal-layout">
        <div class="card-vertical mdl-card mdl-shadow--2dp">
          <div class="mdl-card__actions">
            <a href="#">
		          <div class="card-vertical-icon">
		            <%= image_tag("document.png", class: "card-vertical-icon") %>
		          </div>
		          <div class="card-vertical-title">
		            <span>Documentos privados</span>
		          </div>
            </a>
	        </div>
        </div>
        <div class="card-vertical-space">&nsbp;</div>
        <div class="card-vertical mdl-card mdl-shadow--2dp">
	        <div class="mdl-card__actions">
	          <a href="#">
		          <div class="card-vertical-icon">
		            <%= image_tag("globe.png", class: "card-vertical-icon") %>
		          </div>
		          <div class="card-vertical-title">
		            <span>Documentos públicos</span>
		          </div>
	          </a>
	        </div>
        </div>
      </div>
    </main>
</body>
</html>
