/* ==========================================================================
   Basics
   ========================================================================== */
body {
   line-height: 1;
   background: #ffffff;
   background: url("assets/images/bg.jpg");

   font-family: 'Roboto', 'Helvetica', sans-serif;
  }
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }


html,body {
  line-height: 1;
  background: #ffffff;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

main {
    padding-top:50px;
}


/* ==========================================================================
   Login
   ========================================================================== */

.box {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  color: #ffffff;
  width: 40%;
  height: 50%;
  font-size: 16px;
  padding: 15px;
  text-align: center;

}
.box .box-link{
  margin-top: 30px;
}
    .box .box-link a:hover{
      color:#0D47A1;
    }
.img-responsive {
  width: 40%;
  height: auto;
}
.img-rodape{
  width: 70%;
  margin: 30px auto;
  height: auto;
  }
.mdl-textfield__input{
  border-bottom: 1px solid #ffffff;
}
.mdl-textfield__label{
  color: #ffffff;
}

/* ==========================================================================
   Página Principal
   ========================================================================== */


.mdl-menu__container.is-visible{
  z-index: 99;
}
#main-content{
  margin: 0;
  width: 100%;
}
.bottom-aligned-text {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.horizontal-layout {
    display: -webkit-inline-box;
}
.mdl-layout__content {
    margin: 0px;
    padding: 5em;
}
.avatar {
    height: 56px;
    width: 56px;
    border-radius: 38px;
}
.mdl-layout__drawer .avatar-drawer {
  padding-left: 40px;
  padding-top: 40px;
  background-color: #007eff;
}
.avatar-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0px;
  color: #ffffff;
}
